<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_VarnishAsyncCache>
            <version>0.0.2</version>
        </Aoe_VarnishAsyncCache>
    </modules>
    <global>
        <helpers>
            <varnishasynccache>
                <class>Aoe_VarnishAsyncCache_Helper</class>
            </varnishasynccache>
            <varnish>
                <rewrite>
                    <data>Aoe_VarnishAsyncCache_Helper_Data</data>
                </rewrite>
            </varnish>
        </helpers>
        <models>
            <varnishasynccache>
                <class>Aoe_VarnishAsyncCache_Model</class>
            </varnishasynccache>
            <varnish>
                <rewrite> <!-- rewrites observer from Magneto_Varnish module -->
                    <observer>Aoe_VarnishAsyncCache_Model_Observer</observer>
                </rewrite>
            </varnish>
        </models>
        <events>
            <aoeasynccache_processqueue_postprocessjobcollection>
                <observers>
                    <varnishasynccache>
                        <class>varnishasynccache/asyncCacheObserver</class>
                        <method>postProcessJobCollection</method>
                    </varnishasynccache>
                </observers>
            </aoeasynccache_processqueue_postprocessjobcollection>
        </events>
    </global>
</config>
